################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/LogisticSystem/v17/.suo
.vs/
obj/
bin/
